<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Visualize Index</title>
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.css" charset="utf-8"> %>
  </head>

  <body>
    <main>
      <h1>Available Functions</h1>

      <%= for {module, function_mfas} <- @functions do %>
        <h3> <%= module %> </h3>
        <ul>
        <%= for function_mfa <- function_mfas do %>
          <% function_string = Display.format_mfa(function_mfa) %>
          <li><a href="/?mfa=<%= function_string %>"> <%= function_string %></a></li>
        <% end %>
        </ul>
      <% end %>
    </main>
  </body>
</html>
